*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: blue;
    font-family: sans-serif;
}

h2{
    margin-top: 10px;
}

#carrfour{
    transform: translate(79px, 10px);
}

#amor{
    width: 50vw;
    transform: translate(100px, 10px);
    margin-bottom: 10px;
}